<h1>List of users</h1>
<table>
  <thead>
    <tr>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
      <td><%= link_to user.email, user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure" } %></td>
    </tr>

      <% end %>
  </tbody>

</table>
